{% extends 'layouts/base.html' %}

{% block content %}

<div class="row row-deck row-cards">

    <div class="col-sm-6 col-lg-3">
        <div class="card card-sm">
            <div class="card-body">
                <div class="d-flex">
                    <div class="subheader">Products</div>
                </div>
                <div class="h1 mb-3">1,245</div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card card-sm">
            <div class="card-body">
                <div class="subheader">Creators</div>
                <div class="h1 mb-3">320</div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card card-sm">
            <div class="card-body">
                <div class="subheader">Accounts</div>
                <div class="h1 mb-3">12</div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card card-sm">
            <div class="card-body">
                <div class="subheader">CTR Avg</div>
                <div class="h1 mb-3">12.4%</div>
            </div>
        </div>
    </div>

</div>

<br>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Overview</h3>
    </div>

    <div class="card-body">
        Dummy content dashboard analytics.
    </div>
</div>

{% endblock %}